<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en</key>
	<dict>
		<key>A. Basics</key>
		<dict>
			<key>A. Welcome</key>
			<string>Welcome to splash X6!
A FOSS turn-based 4X strategy game!

Your adventure in this world is just beginning.
As you play, you&apos;ll learn to produce and control an army of units to use at your disposal.

Use them to defend, attack and explore as you build your civilisation and research.</string>
			<key>B. Getting started</key>
			<string>This is a brief summary which walks you through the beginnings of a new game.
More detail on all of these features and systems can be found in their respective help entries.

Your game starts with a single settler, with the power to create home to life in your civilisation. Since he is your only unit at the start, he is already selected. Allowing you to start using him
right away.

Press &apos;space&apos; to start selecting a destination. Move the camera to point find a destination, and &apos;space&apos; again to lock in the decision.

Now, when you end your turn, the settler will move towards his destination.

When you arrive, &apos;x&apos; will open up more controls for the unit. Change his action from &apos;travel&apos; to &apos;settle&apos;.

Now, when you end your turn once more he will create a new city!

You&apos;ll note that by doing so, that settler is now spent, and de-spawns. Worry not, as your new found settlement can help!

Open the &apos;manage&apos; menu and select &apos;settlements&apos;. This opens a window which gives you access and control over your settlements, and their production.

On the left, select a settler, and click &apos;add&apos; to add him to the production queue. The window will tell you exactly how many turns it will take in order to produce him.

A few turns later, you&apos;ll see a new settler spawn at your settlement!

In order to use him, you&apos;ll need to select him. You can do so by opening the &apos;units&apos; window, found in the &apos;warroom&apos; menu, and selecting the unit.</string>
			<key>C. Key Bindings</key>
			<string>Global key bindings (Active everywhere)

Game Screen bindings

WASD / Arrow keys = Move Camera

E = End turn
C = Focus camera on selected unit
X = Open management window for selected unit

Space = Unit destination selection (See movement)

` (Grave) = Remove all windows

Left Shift = Boost camera movement speed
Escape = End Game


F11 = Toggle Exclusive Fullscreen

F1 = Enter Warroom
F2 = Exit Warroom
F5 = New Game

TAB = Enter Warroom



(Developer&apos;s Debug Mode Only)
Numpad + = Raise the camera
Numpad - = Lower the camera



Warroom Bindings 

E = End turn
TAB = Warroom
WASD = Move camera



Main Menu

Escape = Quit to desktop


</string>
			<key>D. Movement</key>
			<string>Your units will move and explore as you command.

To move a unit:
    - Start selecting a destination (see below)
    - Move cursor to a desired destination
    - The pathfinding line will indicate the path the unit will take to the desired location.
    - A red pathfinding line indicates inability to travel to destination.
    - Finalise destination selection (see below)

There are two ways to enter destination selection.

The warroom allows you to use your mouse cursor to direct your units, entering and finalising with a right-click. 

Alternatively, you may more quickly access this same eature by pressing &apos;space&apos; in the main game view by pressing space and moving the camera&apos;s reticle to point.

A unit may fail to pathfind to a destination under conditions such as water or high terrain blocking it&apos;s path.
Different units have different travel restrictions.</string>
			<key>E. Menu Bar</key>
			<string>The menu bar, located at the top of the screen, provides access to all the tools and windows you will need to play the game.

Each of the items on the menu may act as a button, a menu, or both.

Menus are indicated by the handle in the lower right of the button. Explore thier options by clicking and holding down the mouse on a button to open the drop-down menu, and dragging the curser over the options that appear before letting go.

Click an option in the menu or the menu button again to hide the drop-down.</string>
		</dict>
		<key>B. Sytems</key>
		<dict>
			<key>A. Unit Management</key>
			<string>In the menu, under &apos;manage&apos; > &apos;units&apos;, you&apos;ll find all the tool you need to manage your units.

The &apos;Units&apos; window gives you a quick overview of your entire fleet. Double clicking a unit in this list will open another window providing control over that unit.

Certain units will have some actions that others do not, primarily at present the settler who can settle new city.

Units may also be disbanded from here, but note that the window controlling a unit does not close after the unit no longer exists.</string>
			<key>B. Production</key>
			<string>The production of new units (and in the future, buildings n&apos; stuff) is the most crutial to building your empire.

When you have at least one settlement, in the menu, open &apos;manage&apos; > &apos;settlements&apos;

At the top, you&apos;ll see a list of your settlements. Select the one you wish to use to make your new unit.

Directly below, you can see the quantity of &apos;Production Power&apos; that the city is producing, that it can put towards developing things. This determines how long it takes to develop your new unit.

On the left it a list of all available units (Ignore &apos;_BASE&apos;. It needs to not be shown.). Select one to see how much production power is required to produce it, alongside an estimate of the number of turns it will take in order to complete production of the unit.

Click &apos;add&apos; to add that selected unit to the queue. The queue contains units that are waiting to be produced.

Every turn, the city will apply it&apos;s production power towards the first unit in the queue.

Once the unit has been produced, it will appear on the city that produced it.

That unit may now be selected from &apos;manage&apos; > &apos;units&apos;, and controlled.
			</string>
		</dict>
	</dict>
</dict>
</plist>
